//? File: _header.sass

.navbar
  top: 20%
  left: 20%
  display: grid
  grid-template-columns: 0.2fr 1.8fr 15fr
  gap: 0px 0px

  h1
    padding: 1.5rem 1rem 2rem 1rem

  .burger
    top: 40px
    left: 51px
    content: url('../../images/stats.svg')
    padding: 2rem 1rem 2rem 3rem
    width: 30px
    height: 30px

  .search-box input
    height: 50%
    width: 50%
    background-color: $secondary-color
    margin: 1rem 2rem
    border-radius: 10px
    display: flex
    align-items: flex-end
    border: none
    &:focus
      outline: none

  input[type="text" i]
    padding-left: 3rem
    color: $secondary-text-color

  .i-search:first-child
    position: absolute
    content: url('../../images/search.png')
    width: 24px
    height: 24px
    color: $secondary-text-color
    align-self: center
    margin: 2.05rem 3rem
  p
    align-self: center
    color: $secondary-text-color
