//? File: _typography.sass

h1
  font-size: 27px
  font-family: 'Inter', sans-serif
  font-weight: 700
h2
  font-size: 25px
  font-family: 'Inter', sans-serif
  font-weight: 700
h3
  font-size: 23px
  font-family: 'Inter', sans-serif
  font-weight: 700
p
  font-size: 16px
  font-family: 'Inter', sans-serif
  font-weight: 500
.banner h3, .banner-caption
  font-family: 'Fjalla One', sans-serif
a
  text-decoration: none
  color: #000000
