h1
  font-size: 27px
  font-family: 'Inter', sans-serif
  font-weight: 700
h2
  font-size: 25px
  font-family: 'Inter', sans-serif
  font-weight: 600
h3
  font-size: 23px
  font-family: 'Inter', sans-serif
  font-weight: 500
p
  font-size: 16px
  font-family: 'Inter', sans-serif
  font-weight: 500
h3, .banner-caption
  font-family: 'Fjalla One', sans-serif
